
@charset "UTF-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline
}






#header {
	height:100px;
	background-color:lightgrey;
}

#header .main {
	height:100px;
}


#page {
	/*height:100px;*/
}



#footer {
	height:100px;
	background-color:lightgrey;
}

#footer .main {
	height:100px;
}

.main {
	width:724px;
	/*height:100px;*/
	background-color:red;
	/*outline: 10px solid red;
	margin:20px;*/
}

#page .main {
	background-color:pink;
}

